{% extends 'base.html' %}

{% block content %}
<form action="{% url 'movies:create' %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="title">Title:</label>
    <input id ="title" name="title" type="text">
  </div>

  <div>
    <label for="overview">Overview:</label>
    <textarea name="overview" id="overview" cols="30" rows="10"></textarea>
  </div>

  <div>
    <label for="poster_path">Poster_path:</label>
    <input id ="poster_path" name="poster_path" type="text">
  </div>

  <input type="submit">
</form>


{% endblock content %}