{% extends 'base.html' %}
{% block content %}
  <h1 class="text-center"><b>REGISTER BEE</b></h1><hr>
  <h3><b>NEW!</b></h3><br>
  <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors %}
        {% for error in field.errors %}
          <div class="alert alert-primary" role="alert">
            A simple primary alert—check it out!
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}
    {{ form.as_p }}
    <br>
    <input type="submit">
  </form>
  <hr>
  <a href="{% url 'bees:index' %}">BACK</a>
{% endblock content %}